# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore emacs backup files
*~

# Ignore generated BUILD file
BUILD

# Ignore docker copied files/folders
docker/ubkg-download/BUILD
docker/ubkg-download/VERSION
docker/ubkg-download/src
docker/ubkg-download/log

# log files in any path
**/*.log

# Rotated log files
**/*.log*

# UI react-app
src/node_modules
src/.pnp
src/.pnp.js
src/package-lock.json
src/package-lock.json

# testing
src/react-app/coverage

# env files
src/.env.*
src/.env

# dependencies
/src/node_modules
/src/.pnp
.pnp.js

# testing
/src/coverage

# next.js
/src/.next/*
/src/out/*

# production
/src/build

# misc
.DS_Store
/src*.pem

# debug
/src/npm-debug.log*
/src/yarn-debug.log*
/src/yarn-error.log*

# local env files
/src/.env.local
/src/.env.development.local
/src/.env.test.local
/src/.env.production.local

# vercel
/src/.vercel

# typescript
/src/*.tsbuildinfo
/src/next-env.d.ts

# vscode
.vscode

# package lock
/src/package-lock.json
