services:

  ubkg-download:
    build:
      context: ./ubkg-download
      args:
        - HOST_GID=${HOST_GID:-1001}
        - HOST_UID=${HOST_UID:-1001}
        - IMAGE_USER=${IMAGE_USER:-ubkg}
    # Build the image with name and tag
    # Exit with an error message containing err if unset or empty in the environment
    image: hubmap/ubkg-download:${UBKG_DOWNLOAD_VERSION:?err}
    hostname: ubkg-download
    container_name: ubkg-download
    ports:
      - "3001:3000"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    init: true
    restart: always
    networks:
      - gateway_hubmap

networks:
  # This is the network created by gateway to enable communicaton between multiple docker-compose projects
  gateway_hubmap:
    external: true
