body {
background-color: #ebebeb;
font-family:  Inter Variable, Helvetica, Arial, sans-serif;
}

.containerBox{
margin-top: 60px;
}

h1 {
font-size:1.4em;
}

.fileTable tr{
    border-bottom: 4px solid #ebebeb
}